:root {
    --primary-color: #A3B6AD;
    --secondary-color: #846750;
    --accent1-color: #FEECBA;
    --accent2-color: #918028;
    --text-color: #ffffff;
    --background-color: #264653;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
}

header img {
    height: 50px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 1.5em;
    font-family: "Boldonse", system-ui;
}

.history {
    background-color: var(--accent1-color);
    padding: 20px;
    color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

.adventure-gallery figure {
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    border-radius: 5px;
}

figcaption {
    margin-top: 5px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px;
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks img {
    width: 30px;
}
